.navbar-outer {
    background-color: cadetblue;
    border-radius: 7px;
}

.navbar-inner {
    display: flex;
    justify-content: space-around;
    height: 55px;
}

/* ======================== */
.stores-container {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: cadetblue;
}

.store-name-tag {
    color: rgb(3, 69, 31);
    font-size: 20px;
}

.store-name {
    color: rgb(0, 86, 110);
    font-size: 16px;
}

.store-location-tag {
    color: rgb(3, 69, 31);
    font-size: 20px;
    margin-left: 20px;
}

.store-location {
    color: rgb(0, 86, 110);
    font-size: 16px;
}

/* buyer======================== */
.buyers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 10px;
    border-radius: 10px;
    background-color: cadetblue;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("/home/gitahievans/Development/Code/phase3/phase-3-Final-project/my-app-frontend/pictures/buyers.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 5px;
}

.buyer {
    background-color: darkcyan;
    border-radius: 10px;
    padding-left: 10px;
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.6);
}

.buyer-details {
    color: cornsilk;
}

/* ============================================================================= */

.orders-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 10px;
    border-radius: 10px;
    background-color: cadetblue;
    flex: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("/home/gitahievans/Development/Code/phase3/phase-3-Final-project/my-app-frontend/pictures/orders.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
}

.order {
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    border-radius: 10px;
    height: fit-content;
    margin-left: 50px;
    padding-left: 10px;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.7);
}

.main-order-container {
    display: flex;
    margin-top: 5px;
}

.order-poster {
    display: flex;
    width: 20%;
    height: fit-content;
    margin-left: 10px;
    border-radius: 8px;
    margin-top: 5px;
    background-color: cadetblue;
}

.item-input {
    margin: 10px;
}

.post-button {
    margin-left: 35%;
}

.order-details {
    color: cornsilk;
}

/* =============================================== */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(117, 19, 93, 0.73)), url("/home/gitahievans/Development/Code/phase3/phase-3-Final-project/my-app-frontend/pictures/home.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.message {
    color: cornsilk;
    background-color: transparent;
}